[SourceConnectionString]
limit = 120
serverport = 5050
debug = 0
sleep(s) = 3600
host = 41.xxx.xxx.xxx
db = MAS
user = sa
password = P@ssW0rd
port = 1433
driver = s
table = MADYONYA
columns = CUSTKEY,SURNAME,BOOK_NO,BILNG_DATE,CLOSE_BALANCE,unbilled_amount,unbilled_count,total_amount
pk = CUSTKEY
has_observers = N
observers = CLOSE_BALANCE
has_filters = Y
filters = STATION_NO = '15'
sync_table = SYNC_MADYONYA
PK_HAS_ARABIC = N

[DestConnectionString]
host = localhost
db = MADYONYA
user = sa
password = P@ssW0rd
port = 1433
driver = S
table = MADYONYA

